.cadastro-tarefas-header-container {
    background-color: black;
    color: white;
    display: flex;

    .cadastro-tarefas-header {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            align-items: center;
            justify-content: center;
            font-size: 35px;
            font-weight: 400;
            margin-left: 30px;
            margin-right: 20px;
            padding-right: 20px;
            border-right: 1px solid rgb(255, 255, 255)
        };

        a {
            font-size: 15px;
            cursor: pointer;
            transition: 0.3s;
        }

        a:hover {
            font-size: 20px
        }
    };
};

.section-cadastro-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .section-cadastro {
        display: flex;
        width: 50vw;
        height: 70vh;
        margin-top: 10px;
    };
};

.section-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input {
        margin: 20px;
    }
    
    .title-input {
        width: 60%;
        padding: 20px;
        border-radius: 8px;
        outline: none;
        border: none;
        box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.1)
    };

    .content-input {
        width: 800px;
        padding: 20px;
        border-radius: 8px;
        height: 100px;
        outline: none;
        border: none;
        box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.1)
    };

    .date-input {
        border: none;
        border-radius: 8px;
        padding: 20px;
    }

    .finalizado {
        display: flex;

        select {
            border-radius: 5px;
        }
    }

    .selecionar-prioridade {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        select {
            margin-top: 10px;
            width: 100px;
            padding-left: 25px;
            border-radius: 5px;
        }
    };


    .button-salvar-tarefa {
        background-color: #190fa3;
        color: white;
        font-weight: 400;
        margin-top: 50px;
        padding: 15px;
        border: none;
        border: 1px solid rgba($color: #000000, $alpha: 0.0);
        border-radius: 8px;
        width: 150px;
        cursor: pointer;
        transition: 0.3s
    };

    .button-salvar-tarefa:hover {
        border: 1px solid #190fa3;
        color: #190fa3;
        background-color: white;
          
    }
    
}